@charset "UTF-8";

*{ 
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background-color: rgb(241, 231, 231);
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 231, 231);
    margin: 15px;
    padding: 10px;
    padding-bottom:0px;
    height: 10%;
    
}

 h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

nav {
    display: flex;
    background-color: darkolivegreen;
    border: 1px solid blanchedalmond;
    width: 100%;
    height: 8%;
    padding-top: 10px;
    color: beige;
    text-align: center;
    
      
    
}

nav > a {
    
    color: rgb(255, 247, 247);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin: 10px;
    text-align: center;
    
    
   
      

}

a:hover {
    text-decoration:underline;
    color: rgb(5, 85, 32);
    transition-duration: 0.2s;
}

input#ipesquisa {
    font-size: 1.2em;
    border-radius: 3px;
    border: 2px solid darkolivegreen;
    text-align: center;
    width: 40%;
    height: 40%;
   
    
    
    
}
span.material-symbols-outlined  {
    color: darkolivegreen;
    
}




